openapi: 3.1.0
info:
  title: Blizzard Battle.net API
  version: 0.1.0
  description: 'Unofficial OpenAPI 3.1 specification for Blizzard''s Battle.net APIs.

    This specification is not affiliated with or endorsed by Blizzard Entertainment.

    '
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: blizzard-openapi
    url: https://github.com/lostcol0ny/blizzard-openapi
servers:
- url: https://us.api.blizzard.com
  description: US region
- url: https://eu.api.blizzard.com
  description: EU region
- url: https://kr.api.blizzard.com
  description: Korea region
- url: https://tw.api.blizzard.com
  description: Taiwan region
- url: https://gateway.battlenet.com.cn
  description: China region (separate infrastructure)
tags:
- name: wow-game-data
  description: World of Warcraft Game Data APIs
- name: wow-profile
  description: World of Warcraft Profile APIs (requires user token)
- name: wow-classic
  description: World of Warcraft Classic Game Data APIs
- name: diablo3-game-data
  description: Diablo 3 Game Data APIs
- name: diablo3-community
  description: Diablo 3 Community APIs
- name: sc2-game-data
  description: StarCraft 2 Game Data APIs
- name: sc2-community
  description: StarCraft 2 Community APIs
- name: hearthstone
  description: Hearthstone Game Data APIs
- name: oauth
  description: OAuth 2.0 authentication flows
security:
- ClientCredentials: []
paths:
  /data/wow/achievement-category/index:
    get:
      operationId: get_achievement_categories_index
      summary: Get an index of achievement categories.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementCategoriesIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/achievement-category/{category_id}:
    get:
      operationId: get_achievement_category
      summary: Get an achievement category by ID.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: category_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementCategory'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/achievement/index:
    get:
      operationId: get_achievements_index
      summary: Get an index of achievements.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/achievement/{achievement_id}:
    get:
      operationId: get_achievement
      summary: Get an achievement by ID.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: achievement_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Achievement'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/achievement/{achievement_id}:
    get:
      operationId: get_achievement_media
      summary: Get media for an achievement.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: achievement_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/connected-realm/{connected_realm_id}/auctions:
    get:
      operationId: get_auctions
      summary: Get auction house data for a connected realm.
      tags:
      - wow-game-data
      parameters:
      - name: connected_realm_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auctions'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/auctions/commodities:
    get:
      operationId: get_commodities
      summary: Get commodity auction data.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commodities'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/azerite-essence/index:
    get:
      operationId: get_azerite_essences_index
      summary: Get an index of azerite essences.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzeriteEssencesIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/azerite-essence/{essence_id}:
    get:
      operationId: get_azerite_essence
      summary: Get an azerite essence by ID.
      tags:
      - wow-game-data
      parameters:
      - name: essence_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzeriteEssence'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/search/azerite-essence:
    get:
      operationId: search_azerite_essence
      summary: Search for azerite essences.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchPageSize'
      - $ref: '#/components/parameters/SearchOrderBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/azerite-essence/{essence_id}:
    get:
      operationId: get_azerite_essence_media
      summary: Get media for an azerite essence.
      tags:
      - wow-game-data
      parameters:
      - name: essence_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzeriteEssenceMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/connected-realm/index:
    get:
      operationId: get_connected_realms_index
      summary: Get an index of connected realms.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedRealmsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/connected-realm/{connected_realm_id}:
    get:
      operationId: get_connected_realm
      summary: Get a connected realm by ID.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: connected_realm_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedRealm'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/search/connected-realm:
    get:
      operationId: search_connected_realm
      summary: Search for connected realms.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchPageSize'
      - $ref: '#/components/parameters/SearchOrderBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/covenant/index:
    get:
      operationId: get_covenant_index
      summary: Get an index of covenants.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CovenantIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/covenant/{covenant_id}:
    get:
      operationId: get_covenant
      summary: Get a covenant by ID.
      tags:
      - wow-game-data
      parameters:
      - name: covenant_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Covenant'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/covenant/{covenant_id}:
    get:
      operationId: get_covenant_media
      summary: Get media for a covenant.
      tags:
      - wow-game-data
      parameters:
      - name: covenant_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CovenantMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/covenant/soulbind/index:
    get:
      operationId: get_soulbind_index
      summary: Get an index of soulbinds.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoulbindIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/covenant/soulbind/{soulbind_id}:
    get:
      operationId: get_soulbind
      summary: Get a soulbind by ID.
      tags:
      - wow-game-data
      parameters:
      - name: soulbind_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Soulbind'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/covenant/conduit/index:
    get:
      operationId: get_conduit_index
      summary: Get an index of conduits.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConduitIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/covenant/conduit/{conduit_id}:
    get:
      operationId: get_conduit
      summary: Get a conduit by ID.
      tags:
      - wow-game-data
      parameters:
      - name: conduit_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conduit'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/creature-family/index:
    get:
      operationId: get_creature_families_index
      summary: Get an index of creature families.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatureFamiliesIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/creature-family/{creature_family_id}:
    get:
      operationId: get_creature_family
      summary: Get a creature family by ID.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: creature_family_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatureFamily'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/creature-family/{creature_family_id}:
    get:
      operationId: get_creature_family_media
      summary: Get media for a creature family.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: creature_family_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatureFamilyMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/creature-type/index:
    get:
      operationId: get_creature_types_index
      summary: Get an index of creature types.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatureTypesIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/creature-type/{creature_type_id}:
    get:
      operationId: get_creature_type
      summary: Get a creature type by ID.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: creature_type_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatureType'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/creature/{creature_id}:
    get:
      operationId: get_creature
      summary: Get a creature by ID.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: creature_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creature'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/search/creature:
    get:
      operationId: search_creature
      summary: Search for creatures.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchPageSize'
      - $ref: '#/components/parameters/SearchOrderBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/creature-display/{creature_display_id}:
    get:
      operationId: get_creature_display_media
      summary: Get display media for a creature.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: creature_display_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatureDisplayMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/guild-crest/index:
    get:
      operationId: get_guild_crest_components_index
      summary: Get an index of guild crest components.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildCrestComponentsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/guild-crest/border/{border_id}:
    get:
      operationId: get_guild_crest_border_media
      summary: Get media for a guild crest border.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: border_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildCrestBorderMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/guild-crest/emblem/{emblem_id}:
    get:
      operationId: get_guild_crest_emblem_media
      summary: Get media for a guild crest emblem.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: emblem_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildCrestEmblemMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/heirloom/index:
    get:
      operationId: get_heirloom_index
      summary: Get an index of heirlooms.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeirloomIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/heirloom/{heirloom_id}:
    get:
      operationId: get_heirloom
      summary: Get an heirloom by ID.
      tags:
      - wow-game-data
      parameters:
      - name: heirloom_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Heirloom'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/decor/index:
    get:
      operationId: get_decor_index
      summary: Get an index of decor items.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecorIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/decor/{decor_id}:
    get:
      operationId: get_decor
      summary: Get a decor item by ID.
      tags:
      - wow-game-data
      parameters:
      - name: decor_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decor'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/search/decor:
    get:
      operationId: search_decor
      summary: Search for decor items.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchPageSize'
      - $ref: '#/components/parameters/SearchOrderBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/fixture/index:
    get:
      operationId: get_fixture_index
      summary: Get an index of fixtures.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/fixture/{fixture_id}:
    get:
      operationId: get_fixture
      summary: Get a fixture by ID.
      tags:
      - wow-game-data
      parameters:
      - name: fixture_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fixture'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/search/fixture:
    get:
      operationId: search_fixture
      summary: Search for fixtures.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchPageSize'
      - $ref: '#/components/parameters/SearchOrderBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/fixture-hook/index:
    get:
      operationId: get_fixture_hook_index
      summary: Get an index of fixture hooks.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureHookIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/fixture-hook/{fixture_hook_id}:
    get:
      operationId: get_fixture_hook
      summary: Get a fixture hook by ID.
      tags:
      - wow-game-data
      parameters:
      - name: fixture_hook_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureHook'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/search/fixture-hook:
    get:
      operationId: search_fixture_hook
      summary: Search for fixture hooks.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchPageSize'
      - $ref: '#/components/parameters/SearchOrderBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/room/index:
    get:
      operationId: get_room_index
      summary: Get an index of rooms.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/room/{room_id}:
    get:
      operationId: get_room
      summary: Get a room by ID.
      tags:
      - wow-game-data
      parameters:
      - name: room_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/search/room:
    get:
      operationId: search_room
      summary: Search for rooms.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchPageSize'
      - $ref: '#/components/parameters/SearchOrderBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/item-appearance/{appearance_id}:
    get:
      operationId: get_item_appearance
      summary: Get an item appearance by ID.
      tags:
      - wow-game-data
      parameters:
      - name: appearance_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemAppearance'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/item-appearance/set/{appearance_set_id}:
    get:
      operationId: get_item_appearance_set
      summary: Get an item appearance set by ID.
      tags:
      - wow-game-data
      parameters:
      - name: appearance_set_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemAppearanceSet'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/item-appearance/set/index:
    get:
      operationId: get_item_appearance_sets_index
      summary: Get an index of item appearance sets.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/item-appearance/slot/index:
    get:
      operationId: get_item_appearance_slots_index
      summary: Get an index of item appearance slots.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/item-appearance/slot/{slot_type}:
    get:
      operationId: get_item_appearance_slot
      summary: Get item appearances for a slot (e.g. ``HEAD``, ``CHEST``, ``SHOULDER``).
      tags:
      - wow-game-data
      parameters:
      - name: slot_type
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/search/item-appearance:
    get:
      operationId: search_item_appearance
      summary: Search for item appearances.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchPageSize'
      - $ref: '#/components/parameters/SearchOrderBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/neighborhood-map/index:
    get:
      operationId: get_neighborhood_map_index
      summary: Get an index of neighborhood maps.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/neighborhood-map/{neighborhood_map_id}:
    get:
      operationId: get_neighborhood_map
      summary: Get a neighborhood map by ID.
      tags:
      - wow-game-data
      parameters:
      - name: neighborhood_map_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/neighborhood-map/{neighborhood_map_id}/neighborhood/{neighborhood_id}:
    get:
      operationId: get_neighborhood
      summary: Get a neighborhood within a neighborhood map.
      tags:
      - wow-game-data
      parameters:
      - name: neighborhood_map_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: neighborhood_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/item-class/index:
    get:
      operationId: get_item_classes_index
      summary: Get an index of item classes.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemClassesIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/item-class/{class_id}:
    get:
      operationId: get_item_class
      summary: Get an item class by ID.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: class_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemClass'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/item-set/index:
    get:
      operationId: get_item_sets_index
      summary: Get an index of item sets.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemSetsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/item-set/{set_id}:
    get:
      operationId: get_item_set
      summary: Get an item set by ID.
      tags:
      - wow-game-data
      parameters:
      - name: set_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemSet'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/item-class/{class_id}/item-subclass/{subclass_id}:
    get:
      operationId: get_item_subclass
      summary: Get an item subclass.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: class_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: subclass_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemSubclass'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/item/{item_id}:
    get:
      operationId: get_item
      summary: Get an item by ID.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: item_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/item/{item_id}:
    get:
      operationId: get_item_media
      summary: Get media for an item.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: item_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/search/item:
    get:
      operationId: search_item
      summary: Search for items.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchPageSize'
      - $ref: '#/components/parameters/SearchOrderBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/journal-expansion/index:
    get:
      operationId: get_journal_expansions_index
      summary: Get an index of journal expansions.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalExpansionsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/journal-expansion/{expansion_id}:
    get:
      operationId: get_journal_expansion
      summary: Get a journal expansion by ID.
      tags:
      - wow-game-data
      parameters:
      - name: expansion_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalExpansion'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/journal-encounter/index:
    get:
      operationId: get_journal_encounters_index
      summary: Get an index of journal encounters.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEncountersIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/journal-encounter/{encounter_id}:
    get:
      operationId: get_journal_encounter
      summary: Get a journal encounter by ID.
      tags:
      - wow-game-data
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEncounter'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/search/journal-encounter:
    get:
      operationId: search_journal_encounter
      summary: Search for journal encounters.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchPageSize'
      - $ref: '#/components/parameters/SearchOrderBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/journal-instance/index:
    get:
      operationId: get_journal_instances_index
      summary: Get an index of journal instances.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalInstancesIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/journal-instance/{instance_id}:
    get:
      operationId: get_journal_instance
      summary: Get a journal instance by ID.
      tags:
      - wow-game-data
      parameters:
      - name: instance_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalInstance'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/journal-instance/{instance_id}:
    get:
      operationId: get_journal_instance_media
      summary: Get media for a journal instance.
      tags:
      - wow-game-data
      parameters:
      - name: instance_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalInstanceMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/search/media:
    get:
      operationId: search_media
      summary: Search for media.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchPageSize'
      - $ref: '#/components/parameters/SearchOrderBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/modified-crafting/index:
    get:
      operationId: get_modified_crafting_index
      summary: Get the modified crafting index.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifiedCraftingIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/modified-crafting/category/index:
    get:
      operationId: get_modified_crafting_category_index
      summary: Get an index of modified crafting categories.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifiedCraftingCategoryIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/modified-crafting/category/{category_id}:
    get:
      operationId: get_modified_crafting_category
      summary: Get a modified crafting category by ID.
      tags:
      - wow-game-data
      parameters:
      - name: category_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifiedCraftingCategory'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/modified-crafting/reagent-slot-type/index:
    get:
      operationId: get_modified_crafting_reagent_slot_type_index
      summary: Get an index of modified crafting reagent slot types.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifiedCraftingReagentSlotTypeIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/modified-crafting/reagent-slot-type/{slot_type_id}:
    get:
      operationId: get_modified_crafting_reagent_slot_type
      summary: Get a modified crafting reagent slot type by ID.
      tags:
      - wow-game-data
      parameters:
      - name: slot_type_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifiedCraftingReagentSlotType'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/mount/index:
    get:
      operationId: get_mounts_index
      summary: Get an index of mounts.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MountsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/mount/{mount_id}:
    get:
      operationId: get_mount
      summary: Get a mount by ID.
      tags:
      - wow-game-data
      parameters:
      - name: mount_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mount'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/search/mount:
    get:
      operationId: search_mount
      summary: Search for mounts.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchPageSize'
      - $ref: '#/components/parameters/SearchOrderBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/keystone-affix/index:
    get:
      operationId: get_mythic_keystone_affixes_index
      summary: Get an index of mythic keystone affixes.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MythicKeystoneAffixesIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/keystone-affix/{affix_id}:
    get:
      operationId: get_mythic_keystone_affix
      summary: Get a mythic keystone affix by ID.
      tags:
      - wow-game-data
      parameters:
      - name: affix_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MythicKeystoneAffix'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/keystone-affix/{affix_id}:
    get:
      operationId: get_mythic_keystone_affix_media
      summary: Get media for a mythic keystone affix.
      tags:
      - wow-game-data
      parameters:
      - name: affix_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MythicKeystoneAffixMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/mythic-keystone/dungeon/index:
    get:
      operationId: get_mythic_keystone_dungeons_index
      summary: Get an index of mythic keystone dungeons.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MythicKeystoneDungeonsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/mythic-keystone/dungeon/{dungeon_id}:
    get:
      operationId: get_mythic_keystone_dungeon
      summary: Get a mythic keystone dungeon by ID.
      tags:
      - wow-game-data
      parameters:
      - name: dungeon_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MythicKeystoneDungeon'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/mythic-keystone/index:
    get:
      operationId: get_mythic_keystone_index
      summary: Get the mythic keystone index.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MythicKeystoneIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/mythic-keystone/period/index:
    get:
      operationId: get_mythic_keystone_periods_index
      summary: Get an index of mythic keystone periods.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MythicKeystonePeriodsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/mythic-keystone/period/{period_id}:
    get:
      operationId: get_mythic_keystone_period
      summary: Get a mythic keystone period by ID.
      tags:
      - wow-game-data
      parameters:
      - name: period_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MythicKeystonePeriod'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/mythic-keystone/season/index:
    get:
      operationId: get_mythic_keystone_seasons_index
      summary: Get an index of mythic keystone seasons.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MythicKeystoneSeasonsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/mythic-keystone/season/{season_id}:
    get:
      operationId: get_mythic_keystone_season
      summary: Get a mythic keystone season by ID.
      tags:
      - wow-game-data
      parameters:
      - name: season_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MythicKeystoneSeason'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/connected-realm/{connected_realm_id}/mythic-leaderboard/index:
    get:
      operationId: get_mythic_keystone_leaderboards_index
      summary: Get an index of mythic keystone leaderboards for a connected realm.
      tags:
      - wow-game-data
      parameters:
      - name: connected_realm_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MythicKeystoneLeaderboardsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/connected-realm/{connected_realm_id}/mythic-leaderboard/{dungeon_id}/period/{period_id}:
    get:
      operationId: get_mythic_keystone_leaderboard
      summary: Get a mythic keystone leaderboard.
      tags:
      - wow-game-data
      parameters:
      - name: connected_realm_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: dungeon_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: period_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/leaderboard/hall-of-fame/{raid}/{faction}:
    get:
      operationId: get_mythic_raid_leaderboard
      summary: Get the mythic raid hall of fame leaderboard.
      tags:
      - wow-game-data
      parameters:
      - name: raid
        in: path
        required: true
        schema:
          type: string
      - name: faction
        in: path
        required: true
        schema:
          type: string
          enum:
          - alliance
          - horde
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MythicRaidLeaderboard'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/pet/index:
    get:
      operationId: get_pets_index
      summary: Get an index of battle pets.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/pet/{pet_id}:
    get:
      operationId: get_pet
      summary: Get a battle pet by ID.
      tags:
      - wow-game-data
      parameters:
      - name: pet_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/pet/{pet_id}:
    get:
      operationId: get_pet_media
      summary: Get media for a battle pet.
      tags:
      - wow-game-data
      parameters:
      - name: pet_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/pet-ability/index:
    get:
      operationId: get_pet_abilities_index
      summary: Get an index of pet abilities.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetAbilitiesIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/pet-ability/{ability_id}:
    get:
      operationId: get_pet_ability
      summary: Get a pet ability by ID.
      tags:
      - wow-game-data
      parameters:
      - name: ability_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetAbility'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/pet-ability/{ability_id}:
    get:
      operationId: get_pet_ability_media
      summary: Get media for a pet ability.
      tags:
      - wow-game-data
      parameters:
      - name: ability_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetAbilityMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/playable-class/index:
    get:
      operationId: get_playable_classes_index
      summary: Get an index of playable classes.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayableClassesIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/playable-class/{class_id}:
    get:
      operationId: get_playable_class
      summary: Get a playable class by ID.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: class_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayableClass'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/playable-class/{class_id}:
    get:
      operationId: get_playable_class_media
      summary: Get media for a playable class.
      tags:
      - wow-game-data
      parameters:
      - name: class_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayableClassMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/playable-class/{class_id}/pvp-talent-slots:
    get:
      operationId: get_pvp_talent_slots
      summary: Get PvP talent slots for a playable class.
      tags:
      - wow-game-data
      parameters:
      - name: class_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PvpTalentSlots'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/playable-race/index:
    get:
      operationId: get_playable_races_index
      summary: Get an index of playable races.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayableRacesIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/playable-race/{race_id}:
    get:
      operationId: get_playable_race
      summary: Get a playable race by ID.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: race_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayableRace'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/playable-specialization/index:
    get:
      operationId: get_playable_specializations_index
      summary: Get an index of playable specializations.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayableSpecializationsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/playable-specialization/{spec_id}:
    get:
      operationId: get_playable_specialization
      summary: Get a playable specialization by ID.
      tags:
      - wow-game-data
      parameters:
      - name: spec_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayableSpecialization'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/playable-specialization/{spec_id}:
    get:
      operationId: get_playable_specialization_media
      summary: Get media for a playable specialization.
      tags:
      - wow-game-data
      parameters:
      - name: spec_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayableSpecializationMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/power-type/index:
    get:
      operationId: get_power_types_index
      summary: Get an index of power types.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PowerTypesIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/power-type/{power_type_id}:
    get:
      operationId: get_power_type
      summary: Get a power type by ID.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: power_type_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PowerType'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/profession/index:
    get:
      operationId: get_professions_index
      summary: Get an index of professions.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfessionsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/profession/{profession_id}:
    get:
      operationId: get_profession
      summary: Get a profession by ID.
      tags:
      - wow-game-data
      parameters:
      - name: profession_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profession'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/profession/{profession_id}:
    get:
      operationId: get_profession_media
      summary: Get media for a profession.
      tags:
      - wow-game-data
      parameters:
      - name: profession_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfessionMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/profession/{profession_id}/skill-tier/{skill_tier_id}:
    get:
      operationId: get_profession_skill_tier
      summary: Get a profession skill tier.
      tags:
      - wow-game-data
      parameters:
      - name: profession_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: skill_tier_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfessionSkillTier'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/recipe/{recipe_id}:
    get:
      operationId: get_recipe
      summary: Get a recipe by ID.
      tags:
      - wow-game-data
      parameters:
      - name: recipe_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipe'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/recipe/{recipe_id}:
    get:
      operationId: get_recipe_media
      summary: Get media for a recipe.
      tags:
      - wow-game-data
      parameters:
      - name: recipe_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipeMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/pvp-season/index:
    get:
      operationId: get_pvp_seasons_index
      summary: Get an index of PvP seasons.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PvpSeasonsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/pvp-season/{season_id}:
    get:
      operationId: get_pvp_season
      summary: Get a PvP season by ID.
      tags:
      - wow-game-data
      parameters:
      - name: season_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PvpSeason'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/pvp-season/{season_id}/pvp-leaderboard/index:
    get:
      operationId: get_pvp_leaderboards_index
      summary: Get an index of PvP leaderboards for a season.
      tags:
      - wow-game-data
      parameters:
      - name: season_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PvpLeaderboardsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/pvp-season/{season_id}/pvp-leaderboard/{bracket}:
    get:
      operationId: get_pvp_leaderboard
      summary: Get a PvP leaderboard for a bracket.
      tags:
      - wow-game-data
      parameters:
      - name: season_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: bracket
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PvpLeaderboard'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/pvp-season/{season_id}/pvp-reward/index:
    get:
      operationId: get_pvp_rewards_index
      summary: Get an index of PvP rewards for a season.
      tags:
      - wow-game-data
      parameters:
      - name: season_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PvpRewardsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/pvp-tier/index:
    get:
      operationId: get_pvp_tiers_index
      summary: Get an index of PvP tiers.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PvpTiersIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/pvp-tier/{tier_id}:
    get:
      operationId: get_pvp_tier
      summary: Get a PvP tier by ID.
      tags:
      - wow-game-data
      parameters:
      - name: tier_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PvpTier'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/pvp-tier/{tier_id}:
    get:
      operationId: get_pvp_tier_media
      summary: Get media for a PvP tier.
      tags:
      - wow-game-data
      parameters:
      - name: tier_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PvpTierMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/quest/index:
    get:
      operationId: get_quests_index
      summary: Get an index of quests.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/quest/{quest_id}:
    get:
      operationId: get_quest
      summary: Get a quest by ID.
      tags:
      - wow-game-data
      parameters:
      - name: quest_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quest'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/quest/category/index:
    get:
      operationId: get_quest_categories_index
      summary: Get an index of quest categories.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestCategoriesIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/quest/category/{category_id}:
    get:
      operationId: get_quest_category
      summary: Get a quest category by ID.
      tags:
      - wow-game-data
      parameters:
      - name: category_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestCategory'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/quest/area/index:
    get:
      operationId: get_quest_areas_index
      summary: Get an index of quest areas.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestAreasIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/quest/area/{area_id}:
    get:
      operationId: get_quest_area
      summary: Get a quest area by ID.
      tags:
      - wow-game-data
      parameters:
      - name: area_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestArea'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/quest/type/index:
    get:
      operationId: get_quest_types_index
      summary: Get an index of quest types.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestTypesIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/quest/type/{type_id}:
    get:
      operationId: get_quest_type
      summary: Get a quest type by ID.
      tags:
      - wow-game-data
      parameters:
      - name: type_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestType'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/realm/index:
    get:
      operationId: get_realms_index
      summary: Get an index of realms.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealmsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/realm/{realm_slug}:
    get:
      operationId: get_realm
      summary: Get a realm by slug.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: realm_slug
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9-]+$
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Realm'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/search/realm:
    get:
      operationId: search_realm
      summary: Search for realms.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchPageSize'
      - $ref: '#/components/parameters/SearchOrderBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/region/index:
    get:
      operationId: get_regions_index
      summary: Get an index of regions.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/region/{region_id}:
    get:
      operationId: get_region
      summary: Get a region by ID.
      tags:
      - wow-classic
      - wow-game-data
      parameters:
      - name: region_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Region'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/reputation-faction/index:
    get:
      operationId: get_reputation_factions_index
      summary: Get an index of reputation factions.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReputationFactionsIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/reputation-faction/{faction_id}:
    get:
      operationId: get_reputation_faction
      summary: Get a reputation faction by ID.
      tags:
      - wow-game-data
      parameters:
      - name: faction_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReputationFaction'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/reputation-tiers/index:
    get:
      operationId: get_reputation_tiers_index
      summary: Get an index of reputation tiers.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReputationTiersIndex'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/reputation-tiers/{tiers_id}:
    get:
      operationId: get_reputation_tiers
      summary: Get reputation tiers by ID.
      tags:
      - wow-game-data
      parameters:
      - name: tiers_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReputationTiers'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/spell/{spell_id}:
    get:
      operationId: get_spell
      summary: Get a spell by ID.
      tags:
      - wow-game-data
      parameters:
      - name: spell_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spell'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/media/spell/{spell_id}:
    get:
      operationId: get_spell_media
      summary: Get media for a spell.
      tags:
      - wow-game-data
      parameters:
      - name: spell_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpellMedia'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/search/spell:
    get:
      operationId: search_spell
      summary: Search for spells.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchPageSize'
      - $ref: '#/components/parameters/SearchOrderBy'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /data/wow/talent/index:
    get:
      operationId: get_talents_index
      summary: Get an index of talents.
      tags:
      - wow-game-data
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: Successful response
          content:
[...]
